.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 0.4rem;
}

.grid-item {
  height: 50px;
  width: 50px;
  border-radius: 10px;
}

.input {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.output {
  color: rgba(0, 0, 0, 0.567);
  margin-top: 4px;
  font-size: 20px;
}
